@{
    ViewBag.Title = "Contains attribute and unobtrusive validation";
}

<h2>@ViewBag.Message</h2>
<p>
    This is an @Html.ActionLink("Example", "Example", "Home") of the ContainsAttribute and unobtrusive validation.
</p>
